0/WingsCMS/Wings.Framework/Config/WingsConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Wings.Framework.Config" elementFormDefault="qualified" targetNamespace="urn:Wings.Framework.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wingsConfigurationSection" type="tns:Wings.Framework.Config.WingsConfigurationSectionCT" />
	<xs:complexType name="Wings.Framework.Config.WingsConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="emailClient" type="tns:Wings.Framework.Config.EmailClientElementCT">
				<xs:annotation>
					<xs:documentation>The EmailClient.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="permissionKeys" type="tns:Wings.Framework.Config.PermissionkeyElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The PermissionKeys.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pressentation" type="tns:Wings.Framework.Config.PressentationElementCT">
				<xs:annotation>
					<xs:documentation>The Pressentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="webSite" type="tns:Wings.Framework.Config.WebSiteElementCT">
				<xs:annotation>
					<xs:documentation>The WebSite.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="connectionStrings" type="tns:Wings.Framework.Config.ConnectionStringsCollectionCT">
				<xs:annotation>
					<xs:documentation>The ConnectionStrings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.PressentationElementCT">
		<xs:attribute name="productsPageSize" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ProductsPageSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.PermissionkeyElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="permissionkeyElement" type="tns:Wings.Framework.Config.PermissionkeyElementCT">
				<xs:annotation>
					<xs:documentation>The PermissionkeyElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.PermissionkeyElementCT">
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="keyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The KeyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.EmailClientElementCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableSsl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableSsl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sender" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Sender.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.WebSiteElementCT">
		<xs:attribute name="iD" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assembly" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="adminID" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AdminID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.ConnectionStringsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="connectionString" type="tns:Wings.Framework.Config.ConnectionStringCT">
				<xs:annotation>
					<xs:documentation>The ConnectionString Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Wings.Framework.Config.ConnectionStringCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
